@font-face {
    font-family: roboto;
    src: url(fonts);
}
li {
    display: inline-block;
    width: 100px;
    background-color:#deeaee;
}
h1 {
    color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
li > a {
    font-family: 'Roboto', sans-serif;
}
.contact {
    border: 5px solid rgba(188, 143, 143, 0.842);
    inline-size: 1000px;
    border-radius: 10px;
    background-color: aliceblue;
    padding-bottom: 10px;
    padding-left: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
}
#w h1{
    color:#eea29a ;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
#w {
    margin-left: 500px;
}